.EyeBrowTitle {
  @apply flex items-center font-outfit text-sm 
  font-semibold uppercase tracking-widest;

  &--before {
    &:before {
      content: '';
      @apply mr-4 inline-block h-[1px] w-16;
    }
  }

  &--after {
    &:after {
      content: '';
      @apply ml-4 inline-block h-[1px] w-16;
    }
  }

  &--primary {
    @apply text-primary-600;

    &:before {
      content: '';
      @apply bg-primary-600;
    }

    &:after {
      content: '';
      @apply bg-primary-600;
    }
  }

  &--neutral {
    @apply text-neutral-700;

    &:before {
      content: '';
      @apply bg-neutral-700;
    }

    &:after {
      content: '';
      @apply bg-neutral-700;
    }
  }
}
